.gmg-language button {
	font-size: 10px;
	margin-left: 3px;
	margin-bottom: 5px;
	background: #D8D8D8;
	color: #757575;
	border: none;
}

.gmg-language p {
	font-size: 14px;
	color: #525252;
}

.luxauro-gmg-image {
	position: relative;
}

.jone-logo {
	position: absolute;
	bottom: 20px;
	right: 15px;
}

.btn-groups button {
	font-size: 14px;
	margin: 5px 0px;
	background: #D8D8D8;
	color: #757575;
	border: none;
	padding: 8px 10px;
}

.gmb-subheading h3 {
	font-size: 20px;
	font-weight: bold;
}

.calender-image {
	background: transparent	;
	position: relative;
	background: rgba(255, 255, 255, 0.3);
	height: auto;
	width: auto;
}

.contact-me {
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -6%);
  padding: 10px 28px;
}

.luxauro-gmb-main {
	padding-top: 0px;
}

.book-a-solt {
	padding-top: 25px;
}

.book-a-solt h4 {
	font-size: 18px;
	font-weight: bold;
}

.view-my-store h4 {
    font-weight: bold;
}

.service-overview h5 {
	font-size: 25px;
	margin-bottom: 8px;
}
.service-overview p {
	font-size: 14px;
	color: #4A4A4A;
}

/*Suite Management*/

.business-section .pincel {
  position: relative;
   cursor: pointer;
}

.business-section .pincel::after {
  position: absolute;
  content: "\f040";
  font-family: "FontAwesome";
  right: -30px;
  bottom: 0;
  color: #DEDEDE;
  font-size: 16px;
  color: #6a6969;
}


.business-section p {
	font-size: 18px;
}

.business-logo-image {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;

}

.my-business-logo-image {
  position: relative;
  display: inline-block;
}

.my-business-logo-image .upload-logo i {
  position: absolute;
	right: -30px;
	bottom: 1px;
	background: #D9D9D9;
	padding: 5px 5px;
	border-radius: 2px;
	color: #2D2D2D;
}

.my-business-banner {
	position: relative;
	display: inline-block;
}

.business-banner {
	height: 60px;
  width: 150px;
  position: relative;
}

.business-header .upload-logos i {
	background: #D9D9D9;
	padding: 15px;
	border-radius: 2px;
	color: #2D2D2D;
	font-size: 30px;
	margin-left: 5px;
	cursor: pointer;
}

.business-address h5 {
	font-size: 16px;
	font-weight: 200;
}

.transaction-history .form-select {
  border: 0;
  width: 32%;
  margin-left: 20px;
  font-size: 24px;
}

.transaction-history .account-name {
	background: #1E3538;
	padding: 10px;
	color: #fff;
	height: 100px;
	position: relative;
}

.table-bg {
	background: #F1F1F1;
	padding: 3px 5px 4px 3px;
}

.transaction-history .table thead tr {
	background: #1E3538;
	color: #fff;
	font-size: 14px;
}

.transaction-history .table {
	font-size: 12px;
	background: #fff;

}

.transaction-history .table tr.date {
		background: #E5E5E5;
}

.transaction-history .table tr {
	box-shadow: none;
}

.transaction-history tr td {
	padding: 5px 8px;
}

.transaction-history .table tr td:nth-child(2) {
    text-align: right;
}

.transaction-history .table tr td:nth-child(3) {
    text-align: right;
}

.pagination .page-link {
	border: 0px solid #dee2e6;
	color: #767777;
}


/* payment-management-section  */

.payment-management-section .delete-arrow .arrow-delete {
	position: relative;
}

.payment-management-section .arrow-delete::before {
	position: absolute;
	content: "\f105 ";
	font-family: "FontAwesome";
	right: -11px;
	top: 0;
	color: black;
}

.payment-management-section h2 {
	font-size: 22px;
}

.luxauro-subscription-setting p {
	font-size: 14px;
	font-weight: 500;
}

/* luxauro-subscription-section  */


.luxauro-subscription-section h2 {
	font-size: 22px;
}

.luxauro-subscription-section .nav-pills .nav-link {
	font-size: 16px;
}

.luxauro-subscription-section .product-item .txt-holder {
	padding: 15px 5px;
}

.luxauro-subscription-section .add-to-current > a {
	font-size: 12px;
  padding: 0px 4px;
  background: #13D913;
  color: #fff;
}

.subscriptions-producct .add-to-current-text a {
	text-transform: capitalize;
}

.subscriptions-producct .add-to-current a.btn  {
	padding: 0px 3px;
	font-size: 10px;
}

.luxauro-subscription-section .sub-product-image {
	width: 70px;
	height: 100%;
}

.luxauro-subscription-current {
	counter-reset: section;
}

ul.subscriptions-producct:before {
	counter-increment: section;
  content: counter(section) ".";
  margin-bottom: 25px;
}

.luxauro-subscription-currents {
	counter-reset: section;
}

ul.subscriptions-produccts:before {
	counter-increment: section;
  content: counter(section) ".";
}

.luxauro-product-item a.btn {
	background: #CFCFCF;
	color: #fff;
	padding: 0px 2px;
	font-size: 14px;
	margin-bottom: 10px;
}

.luxauro-ended ul li {
	margin: 0px 6px;
}

.setup-merchant-heading {
	font-size: 22px;
	font-weight: bold;
}



/* luxauro-subscription-section */

/*.luxauro-subscription-section h2 {
	font-size: 22px;
}

.luxauro-subscription-section .nav-pills .nav-link {
	font-size: 16px;
}

.luxauro-subscription-section .product-item .txt-holder {
	padding: 15px 5px;
}

.luxauro-subscription-section .add-to-current > a {
	font-size: 12px;
  padding: 0px 4px;
  background: #13D913;
  color: #fff;
}

.subscriptions-producct .add-to-current-text a {
	text-transform: capitalize;
}

.subscriptions-producct .add-to-current a.btn  {
	padding: 0px 3px;
	font-size: 10px;
}

.luxauro-subscription-section .sub-product-image {
	width: 70px;
	height: 100%;
}

.luxauro-subscription-current {
	counter-reset: section;
}

ul.subscriptions-producct:before {
	counter-increment: section;
  content: counter(section) ".";
  margin-bottom: 25px;
}

.luxauro-product-item a.btn {
	background: #CFCFCF;
	color: #fff;
	padding: 0px 2px;
	font-size: 14px;
	margin-bottom: 10px;
}*/

.luxauro-ended {
	 width:100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.subscriptions-produccts {
	display: flex;
	justify-content: flex-start !important;
}

@media only screen and (min-width: 767.98px) {
	.luxauro-gmb-main {
	padding-top: 80px;
}
}

@media only screen and (min-width: 1199.98px) {
	.subscriptions-producct {
		display: flex;
		column-gap: 16px;
		align-items: flex-end;
}
.subscriptions-produccts {
		display: flex;
		column-gap: 16px;
		align-items: flex-start;
		justify-content: space-between !important;
}
.luxauro-ended {
	 width:100%;
  overflow-x: auto;
  white-space: nowrap;
}

}

.input-number{
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 0px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: transparent;
  color: #0009;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
  .input-number-decrement,
.input-number-increment:active{
    background: transparent;
  }

.input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.input-number-increment{
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.shopping-bag-section h2 {
	font-size: 23px;
	'font-weight: bold;
}

.shopping-bag-component, .shipping-my-order {
	border: 1px solid #cfcfcf;
	padding: 10px;
	border-radius: 4px;
}

.shopping-bag-component h3 {
	border-bottom: 1px solid;
	display: inline-block;
	line-height: 20px;
	font-size: 20px;
}

.shopping-bag-component .sub-product-image {
	max-width: 150px;
}

.luxauro-product-item-sb ul > li {
	font-weight: 400;
	font-size: 15px;
}

.shopping-bag-delivery {
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	width: 125px;
	word-break: break-all;
	padding: 5px 10px;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center	;
}

.shopping-bag-delivery .estimated {
	font-size: 10px;
	line-height: 14px;
}

.save-for-later {
	position: relative;
}

.save-remove-later {
	position: relative;
}

.save-remove-later::after {
	position: absolute;
  content: "";
  height: 15px;
  width: 2px;
  background: #a19c9c;
  right: -12px;
  top: 4px;
}

.shopping-bag-payment .payment-titles {
	font-weight: 500;
	font-size: 14px;
}

.shopping-bag-title {
	font-weight: 500;
	font-size: 14px;
}

.dropdown-menu .luxauro-cart {
	color: #fff;
}

.dropdown-menu .luxauro-cart span {
	font-size: 12px;
   color: #cfcfcf;
   text-transform: lowercase;
}

.dropdown-menu .luxauro-cart h3 {
	font-size: 14px;
	text-transform: capitalize;
}

.next-referral {
    position: relative;
}

.delete-close {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.profile-pic-logo {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}
.profile-pic-banner {
    height: 60px;
    display: inline-block;
    object-fit: contain;
}

.file-upload {
    display: none;
}

.file-upload-3 {
    display: none;
}

.file-upload-logo {
    display: none;
}

.file-upload-banner {
    display: none;
}

.file-uplo {
    display: none;
}

.circle-images {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
}

.p-image {
    /*position: absolute;
    right: 90p*/x;
    color: #666666;
    bottom: 0;
}

.upload-button {
  font-size: 1.2em;
}

.upload-button-3 {
  font-size: 1.2em;
}

.upload-button-logo {
  font-size: 1.2em;
}



.upload-btn {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.owner-name {
    display: flex;
    flex-direction: column;
}

.business-logo-icon i {
	position: absolute;
    right: 0;
    bottom: 0;
    background: #D9D9D9;
    padding: 5px 5px;
    border-radius: 2px;
    color: #2D2D2D;
    cursor: pointer;
}

#del-btn {
	background-color: red;
	border: 1px solid red;
	width: 25%;
}

.em-wrap {
	display: flex;
}



/* updating  */

.user-info img{
    display: inline;
    margin: 0px !important;
}
.user-info a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}
