html, body {
	height: 100%;
}

body {
	font-family: 'DM Sans', sans-serif;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

a:hover {
	opacity: 0.7;
}

select:focus,
input:focus {
	outline: none !important;
	box-shadow: none !important;
}

input::placeholder {
  color: #7a7a7a;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #7a7a7a;
}

input::-ms-input-placeholder { /* Microsoft Edge */
 color: #7a7a7a;
}

.btn-view {
	color: #000;
	background: #d9d9d9;
	padding: 0.375rem 1.4rem;
}

.btn-primary {
	font-size: 14px;
	background: #123033;
	border-color: #123033;
	padding: 0.45rem 1.2rem;
}

.btn-primary:hover {
	background: #123033;
	border-color: #123033;
	opacity: 0.8;
}

.container {
	max-width: 1440px;
}

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

#header {
	position: relative;
	z-index: 999	;
}

#header:after {
	content: '';
	clear: both;
	display: block;
}

.inner-content {
	position: relative;
	z-index: 99;
}

.logos-header {
	background: #133033;
}

.logo {
	max-width: 120px;
}

.logo:hover {
	opacity: 1;
}

.logo-gold {
	max-width: 80px;
}

.nav-section {
	background: #133033;
	border-color: #808080 !important;
}

.nav-section ul li a {
	color: #cfcfcf;
	font-size: 14px;
	line-height: 60px;
}

.header-info {
	background: #133033;
	min-width: 315px;
	position: relative;
}

.nav-section .search a {
	color: #cfcfcf;
}

.nav-section .dropdown-menu {
	top: 100% !important;
	transform: inherit !important;
	min-width: auto;
	width: 100%;
	border-radius: 0;
	background: #133033;
	border: 0 !important;
}

.nav-section .dropdown-menu:after {
	content: '';
	position: absolute;
	bottom: -50px;
	left: 0;
	right: 0;
	background: url('../images/dropdown-shape.png') no-repeat;
	background-size: 100% 100%;
	height: 50px;
}


.user-info ul li {
	font-size: 12px;
	color: #cfcfcf;
	border: 1px solid #3d3d3d;
	padding: 10px;
    margin: 0 0 20px;
}

#nav {
	position: fixed;
	top: 0;
	left: -280px;
	bottom: 0;
	min-width: 280px;
	background: #133033;
	padding: 20px;
	transition: all 0.3s ease-in-out;
	z-index: 99;
}

#nav.active {
	left: 0;
}

.banner {
	position: relative;
}

.banner-slider .slick-slide img {
	width: 100%;
}

.slick-prev,
.slick-next {
	z-index: 9;
	width: 30px;
	height: 30px;
}

.slick-prev img,
.slick-next img {
	display: block;
	width: 100%;
	height: auto;
}

.slick-prev:before,
.slick-next:before {
	display: none;
}

.slick-prev {
	left: 25px;
}

.slick-next {
	right: 25px;
}

.page-form {
	max-width: 554px;
	padding: 0 15px;
}

.page-form-holder {
	flex: 1 1 auto;
}

.page-form .form-control {
	min-width: 130px;
	max-width: 130px;
	color: #000;
	background: #bebebe;
}

.page-form .form-field {
	color: #000;
	background: #d9d9d9;
}

.page-form .form-control.select-control {
	background: #bebebe url(../images/down-arrow.png) no-repeat 95% 60%;
  background-size: 16% 60%;

}

.btn-outline-secondary {
  border-color: #CED4DA;
}

.page-form button[type="submit"] {
	min-width: 40px;
	max-width: 40px;
}

.product-header {
	row-gap: 20px;
}

.product-header .form-holder {
	column-gap: 20px;
}

.product-header .page-form {
	padding: 0;
}

.product-item .img-holder {
	height: 118px;
	overflow: hidden;
}

.product-item .img-holder img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background: #d9d9d9;
}

.product-item .txt-holder {
	background-color: #d9d9d9;
	padding: 20px;
	font-size: 14px;
}

.product-item .txt-holder .fa-globe {
	font-size: 18px;
}

.product-item .title {
	font-size: 16px;
}

.product-item .stars {
	font-size: 10px;
}

.gold-evine-slider .txt-holder {
	color: #fff;
	background: #123033;
	padding: 10px 15px;
}

.gold-metal-slider .img-holder img {
	padding: 20px;
}

.product-item .txt-holder strong {
	font-weight: normal;
}

.product-section  .slick-list {
	margin: 0 -12px;
}

.product-section  .slick-slide {
	margin: 0 12px;
}

#footer {
	background: #123033;
	color: #fff;
	font-size: 12px;
}

#footer .btn-learn {
	background: #fff;
	color: #000;
}

#footer .title {
	font-size: 16px;
}

#footer ul.social-icons li {
	margin: 0 5px 0 0;
}

.social-icons li a {
	background: #fff;
	color: #000;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer ul {
	padding-left: 0;
	list-style: none;
}

#footer ul li {
	margin: 0 0 8px;
}

#footer ul li a {
	color: #fff;
}

#footer ul.social-icons li a {
	color: #000;
}

.footer-bottom {
	position: relative;
}

.footer-bottom:after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	right: -100%;
	height: 1px;
	background: #4c5151;
}

.footer-bottom span a {
	color: #fff;
}

.street-img img {
	width: 100%;
}

.progress {
	background: #a4a4a4;
	height: 12px;
}

.progress-bar {
	background: #5ce78c;
}

.about-banner {
	margin: 0 0 30px;
  background-color: #EEEEEE;
  min-height: 200px;
}

.about-banner li a {
  color: #B1B1B1;
}

.breadcrumb-item.active {
  color: #B1B1B1;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #B1B1B1;
}

.about-sections {
  overflow: hidden;
}

.about-section-last {
  background-color: #D9D9D9;
  min-height: 200px;
}

.contact-us-section input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.contact-us-section input::placeholder {
  font-size: 14px;
}

.btn-submit {
  background-color: #123033 !important;
  color: #fff;
}

.btn-submit:hover {
  color: #fff;
}

.cookie-unorder-list {
  position: relative;
}

.cookie-unorder-list > li {
  font-size: 14px;
}

.cookie-unorder-list > li::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: #2C2C2C;
  border-radius: 50%;
  left: 0;
  margin-top: 8px;
}

.accordion-button {
  color: #373737;
  background-color: #E8E8E8;
}

.accordion-button:not(.collapsed) {
  color: #373737;
  background-color: #E8E8E8;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: 0 0 0 .6px rgba(87, 88, 90, 0.25);
}

.accordion-item:not(:first-of-type) {
  border: 1px solid rgba(0,0,0,.125);
}

.section-faqs .accordion-button {
  padding: 1rem 2.5rem;
}

.section-faqs .accordion-body {
  padding: 1rem 2.5rem;
  background-color: #FBFBFB;
  color: #5E5E5E;
}

.section-faqs .accordion-button::after {
  content: '\f055';
  font-family: FontAwesome;
  background-image: inherit;
  width: auto;
  height: auto;
  position: absolute;
  left: 16px;
  top: 16px;
}

.section-faqs .accordion-button:not(.collapsed)::after {
  content: '\f056';
}

.detail-nav-slider .slick-slide {
	margin: 0 8px;
}

.charter-detail-page .form-control,
.charter-detail-page label,
.charter-detail-page p {
	font-size: 14px;
	color: #6f6f6f;
}

.charter-detail-page .price {
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

.charter-specs-section {
	font-size: 14px;
	color: #6f6f6f;
}

.charter-specs-section h3,
.charter-specs-section h4 {
	color: #000;
}

.charter-specs-section table td {
	padding: 0 0 18px;
	width: 50%;
}

.section-product-charter {
  margin: 40px 0px 40px;
}

.section-product-charter .accordion-button:not(.collapsed):after {
  content: '\f077';
  background-image: inherit;
}

.section-product-charter a {
  text-decoration: none;
  color: #5E5E5E;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.section-product-charter .accordion-button::after {
  content: '\f054';
  font-family: 'FontAwesome';
  background-image: inherit;
  height: auto;
  width: auto;
  position: absolute;
  right: 16px !important;
  top: 16px;
  left: auto;
}

.section-product-charter .accordion-button:not(.collapsed) {
  color: #373737;
  background-color: transparent;
}

.section-product-charter .accordion-button{
  background-color: transparent;
}

.section-product-charter .accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;

}

.text-font {
  font-size: 10px;
}

.section-product-charter .accordion-body {
  background-color: transparent;
  color: #5E5E5E;
}
.section-product-charter .accordion-item:not(:first-of-type) {
  border: 1px solid rgba(0,0,0,.125);
}

.section-product-charter ul > li {
  font-size: 14px;
  position: relative;
}

.mangement li {
  padding-left: 20px;
}

.section-product-charter ul.mangement > li::before {
  content: "\f178";
  font-family: 'FontAwesome';
  left: 0;
  position: absolute;
}

.section-product-charter .nav-pills .nav-link.active{
  color: #373737;
  background-color: transparent;
  border-bottom: 1px solid #5E5E5E;
}

.section-product-charter .nav-pills .nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  font-weight: 600;
  color: #949494;
  padding: 1px 0px;
}

.section-product-charter .form-control:focus {
  box-shadow: inherit;
}

.section-product-charter label {
  font-size: 14px;
  padding-bottom: 4px;
  color: #828282;
  display: block;
}

.section-product-charter .input-checkbox > li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.section-product-charter .input-group-text {
  background-color: transparent;
  font-weight: 700;
}

.section-product-charter .custom-input {
  width: 100px !important;
}

.section-product-charter .btn-font {
  font-size: 14px !important;
  padding: 0px 3px;
}

.custom-file-upload {
  position: relative;
}

.image-icon i {
  position: absolute;
  right: 1px;
  bottom: 1px;
  background-color: #E9ECEF;
  padding: 10px 24px;
  border-top-right-radius: 2px;
  cursor: pointer;
  border-bottom-right-radius: 2px;
}

.form-check {
  margin-right: 15px;
}

.tags > li {
  background-color: #143235;
  border-radius: 50px;
  padding: 3px 10px;
  margin: 10px 5px;
  color: #fff;
  line-height: 20px;
  position: relative;
}

.tags > li > a {
  text-decoration: none;
}

.close-btn {
  position: relative;
}

.close-btn i {
  color: #fff;
  margin-left: 16px;
  font-size: 12px;

}
.close-btn::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 2px;
  background-color: #3F3F3F;
  left: 10px;
  bottom: 1px;
}

/* sign in */

.signin-section .sign-in-section  {
  background-image: url("../images/about01.png");
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
}

.signin-section .sign-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signin-section .sign-in a {
	color: #626262;
}

.signin-section .input-group-text {
  background-color: transparent;
}

.signin-section .form-control {
  border-right: none;
}

.signin-section .sign-in-section h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.signin-section .sign-in-section p {
  font-size: 14px;
  color: #6B6E70;
}

.signin-section .sign-in p {
  font-size: 14px;
  color: #747474;
}

.signin-section .sign-in p a {
  color: #626262;
}

.section-details {
  background-color: #163437;
}

.logo-section img {
  width: 100%;
  height: 100%;
}

.banner-images {
  width: 100%;
  height: 300px;
}

.merchant-section-inner {
  position: relative;
}

.merchant-section {
  margin-bottom: -118px;
}

.logo-section {
  max-width: 65px;
  min-width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
}

.social-icons li {
  margin: 0 5px 0 0;
}

.star > span {
  margin: 0 3px 0 0;
}

.cart-icon > span {
  margin: 0 5px 0 0;
  position: relative;
}

.cart-icon span.first-child {
  position: relative;
}

.cart-icon span.first-child::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 2px;
  background-color: #ddd;
  right: -10px;
  top: 4px;
}

.ethics {
  background-color: #E6E6E6;
  border-radius: 4px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.owner-pitcher {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.merchant-section p {
  color: #6D6D6D;
}

.owner-pitcher .txt-holder {
  padding: 12px 20px;
  text-align: center;
}

.owner-section a {
  color: #6D6D6D;
  border-bottom: 1px solid #6D6D6D;
}

.meat-team .product-item .img-holder {
  height: 155px;
  overflow: hidden;
}

.merchant-banner-text h3 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.merchant-banners {
  background-color: #123033;
  padding: 40px 50px;
}



/* my-accoutn */

.account-image {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.my-account-image {
  position: relative;
  display: inline-block;
}

.upload-logo i {
  position: absolute;
  right: 70px;
  bottom: 0;
  background: #D9D9D9;
  padding: 5px 5px;
  border-radius: 2px;
  color: #2D2D2D;
  cursor: pointer;
}

.my-account-section .pincel {
  position: relative;
}

.my-account-section .pincel::after {
  position: absolute;
  content: "\f040";
  font-family: "FontAwesome";
  right: 5px;
  bottom: 3px;
  color: #DEDEDE;
  font-size: 10px;
}

/* Profile */

.profile-section .profile > li {
  text-transform: uppercase;
}

.profile-section .profile > li a {
  font-size: 12px;
}

.profile-section .profile-tags > li {
  background-color: #7C7C7C;
  border-radius: 5px;
  padding: 14px 20px;
  margin: 10px 5px;
  color: #fff;
  line-height: 20px;
  position: relative;
}

.profile-tags .close-btn-pt {
  position: relative;

}

.profile-tags .close-btn-pt i {
  color: #fff;
  margin-left: 16px;
  font-size: 14px;
  position: absolute;
  top: -13px;
  left: -12px;
}

.profile-section .about-me {
  color: #5E5E5E;
  font-size: 14px;
}

.profile-section .pincel {
  position: relative;
}

.profile-section .pincel::after {
  position: absolute;
  content: "\f040";
  font-family: "FontAwesome";
  right: 5px;
  bottom: 3px;
  color: #DEDEDE;
  font-size: 10px;
}



/* Create Account */

.create-account-section .form-control {
  border-right:  1px solid #ced4da;
}

.create-account-section .form-check-label {
  font-size: 14px;
  color: #858585;
}

.create-account-section .form-check-label strong {
  font-size: 14px;
  color: #000;
}

.optional {
  color: #A4A4A4;
  font-size: x-small;
  padding-left: 6px;
}


.uploadFile {
  width: 100%;
  background-color: white;
  border: 0px solid;
  color: grey;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  padding: 8px 10px 8px 10px !important;
  position: relative;
  resize: none;
}
.uploadFile [type="file"] {
  cursor: pointer !important;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0px;
  z-index: 1;
}

.upload-icon {
  background-color: #D9D9D9;
  color: #424242;
  padding: 8px 14px;
  border-radius: 3px;
  margin-right: 6px;
}

.upload-icon-account-1 {
  background-color: #D9D9D9;
  color: #424242;
  padding: 0px 22px;
  border-top-right-radius: 5px;
  margin-right: 6px;
  position: absolute;
  right: -8px;
  top: 0;
  height: 39px;
  display: flex;
  align-items: center;
}

.section-terms-condition span {
  font-size: 12px;
  color: #5d5d5d;
}

.product-page-section {
  margin-top: 60px;
}

.product-page-section .product-item .img-holder {
  height: 140px;
  overflow: hidden;
}

.product-page-section .page-link {
  color: #5d5d5d;
  border: 0;
}

.merchant-banner-text h3 {
  font-size: 30px;
}

.chat-border {
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  padding: 10px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}

.chat-box {
  background-color: #F1F2F4;
  padding: 5px 5px;

  border-radius: 5px;

}

.user-heading {
  background-color: #fff;
  padding-right: 30px;
}

.user-heading h3 {
  font-size: 14px;
  font-weight:  bold;
  margin-bottom: 0;
}

.chat-box > p {
  padding: 0px 5px 0px 44px;
  margin-bottom: 0;
  font-size: 12px;
}

.user-heading span {
  color: #BABABA;
  font-size: 10px;
  margin-left: 20px;
}

.chat-password {
  background-color: #F1F2F4;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 4px 10px 10px;
  width: 50%;

}

.chat-password h6 {
  margin-bottom: 0;
  font-size: 10px;
  font-weight: bold;
}

.user-chart i {
  font-size: 35px;
}

.chat-box-last {
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  padding: 8px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.chat-title h3, h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.chat-box-2 span {
  font-size: 10px;
}

.input-send-msg input {
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  font-size: 14px;
}

.input-send-msg {
  position: relative;
}

.message-send {
  position: absolute;
  right: 10px;
  bottom: 23px;
  display: inline-block;
  overflow: hidden;
}

.btn-icon {
  border: 0;
  background-color: transparent;
  margin: 0px 3px;
  font-size: 17px;
}


	.nav-section {
		position: relative;
	}

	.header-info {
		position: absolute;
		top: -3px;
		left: 0;
		right: 1px;
		max-width: 320px;
		margin: 0 auto;
		background:#fff url('../images/shape.png') no-repeat;
		background-size: 100% 100%;
		min-height: 96px;
		border-radius: 0 0 50% 50%;
	}

	#nav {
		position: static;
		padding: 0;
	}

	#nav ul li {
		position: relative;
	}

	#nav ul li a {
		display: block;
		font-size: 10px;
		line-height: 46px;
		padding: 0 8px;
	}

	.logo {
		max-width: 200px;
		margin: 0 0 -30px;
		position: relative;
		z-index: 10;
	}

	.cart-icon,
	.nav-section .search {
		margin-top: -12px;
	}

	.user-info {
		margin-top: 32px;
	}

	.nav-section .dropdown-menu {
		top: 50% !important;
		z-index: -1;
		padding: 80px 30px 0 !important;
	}

	#footer {
		font-size: 14px;
	}

	.about-banner {
	  margin: 70px 0px 40px;	}

	.about-img-holder img {
    height: 400px;
    object-fit: contain;
	}

	.detail-nav-slider {
		max-width: 500px;
		margin: 0 auto;
	}

	.charter-detail-page .slick-next {
		right: -50px;
	}

	.charter-detail-page .slick-prev {
		left: -50px;
	}

	.section-product-charter {
    margin: 70px 0px 40px;
  }

  .add-more-width {
    width: 100% !important;
  }
  .merchant-banner-text h3 {
    font-size: 30px;
  }

  .merchant-banner-text h3 {
    font-size: 50px;
  }
}

@media screen and (min-width: 991.98px) {
  .product-heading {
     padding-top: 0 !important;
  }

  .display-end {
    display: flex;
    justify-content: end;
  }
}

@media only screen and (min-width: 1198.98px) {
	.logo-gold {
    max-width: 200px;
	}

	.cart-icon,
	.nav-section .search {
		margin-top: -20px;
	}

	.user-info a {
		font-size: 16px;
	}

	#nav ul {
    min-width: 35%;
	}

	.product-header .page-form {
    padding: 0;
    max-width: 340px;
    min-width: 340px;
	}

	.footer-holder {
		padding: 130px 0 !important;
	}

	.slick-prev,
	.slick-next {
		width: 50px;
		height: 50px;
	}

	.header-info {
		max-width: 460px;
	}

	.logo {
		max-width: 280px;
	}

	#nav ul li a {
		display: block;
		font-size: 14px;
		line-height: 46px;
		padding: 0 20px;
	}
}

@media only screen and (min-width:  1499.98px) {
	.product-section .slick-prev {
		left: -25px;
	}

	.product-section .slick-next {
		right: -25px;
	}
}

@media only screen and (min-width:  1599.98px) {
	#nav ul li a {
    font-size: 20px;
    padding: 0 35px;
	}
}

/*.input-icon {
  position: relative;
}
.calendar-icon {
  position: absolute;
  right: 10px;
  bottom: 14px;
  font-size: 10px;

}*/


.uploadFile-table {
    width: 100%;
    background-color: white;
    border: 0px solid;
    color: grey;
    font-size: 16px;
    line-height: 44px;
    overflow: hidden;
    padding: 13px 10px 15px 10px !important;
    position: relative;
    resize: none;
}

.upload-icon-account-1-table {
    background-color: #D9D9D9;
    color: #424242;
    padding: 14px 10px;
    border-top-right-radius: 5px;
    margin-right: 7px;
    position: absolute;
    right: -8px;
    top: 0px;
    height: 16px;
    display: flex;
    align-items: center;
}

.panel-container {

     overflow: hidden;

          /* avoid browser level touch actions */

        }

        .panel-left {
          flex: 0 0 auto;
          padding: 10px;
          /* width: 300px;
          min-height: 200px;*/
          min-width: 150px;
          white-space: nowrap;
          overflow-x: hidden;
        }

        .splitter {
          flex: 0 0 auto;
          width: 3px;
          background: silver;
          min-height: 200px;
          cursor: col-resize;
          margin: 0px 35px 0px 25px;
          display: none;
        }
        .panel-right {
          flex: 1 1 auto;
/*          padding: 10px;*/
/*          width: 100%;*/
/*          min-height: 200px;*/
/*          min-width: 300px;*/
          overflow-x: hidden;
        }

        .panel-right th {
          font-size: 12px;
          vertical-align: baseline;
          color: #777777;
          white-space: nowrap;
        }

        .panel-right td {
          font-size: 14px;
          color: #777777;
          white-space: nowrap;
        }

        .panel-right td:last-child{
          text-align: left;
        }

        .table-tag ul li {
          background-color: #24393B;
          display: flex;
          padding: 4px 6px 2px 10px;
          align-items: center;
          border-radius: 20px;
          color: #fff;
          margin: 2px 3px;
          font-size: 12px;
        }

         .table-tag ul li a {
          margin-left: 10px;
          color: #fff;
          font-size: 8px;
         }

         .panel-right .table-tag ul {
          display: flex;
         }

         .question-mark {
          font-size: 14px;
          border: 0;
          background: transparent;
          padding: 0;
         }


/*  Forums */

.forums-title {
  background-color: #CFCFCF;
  border-radius: 5px;
}



.forums-table .table tr td:nth-child(2n) {
  text-align: center;

}

.forums-table .table tr td:nth-child(3n) {
  text-align: center;
}

.forums-table .table tr td:nth-child(4n) {
  text-align: left;
}

.forums-table .table tr td {
    padding: 8px 15px;
    white-space: nowrap;
    line-height: 20px;
    font-size: 14px;
}

    
/* updating */

.user-info img{
    display: inline;
    margin: 0px !important;
}
.user-info a{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    color: #cfcfcf;
	font-size: 12px;
}
